# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
backend/.venv/

# Databases
*.db

# Node
node_modules/
npm-debug.log
yarn-error.log

# Environment
.env
.env.local

# IDE / OS
.vscode/
.idea/
*.DS_Store

# Manuais
Manuais/
