services:
  - type: web
    name: kaizen-lists-api
    runtime: python
    rootDir: backend
    buildCommand: pip install -r requirements.txt && flask db upgrade
    startCommand: gunicorn -w 4 -b 0.0.0.0:$PORT run:app
    envVars:
      - key: FLASK_CONFIG
        value: production
      - key: PYTHON_VERSION
        value: 3.11
